/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 8, 2016, 10:38:14 AM
    Author     : vpeclarinal101
*/

div .panel {
    padding: 20px 20px 20px 20px;
    
}

.no-radius {
    margin-top: 10px;
    border-radius: 1px !important; 
}

.output {
    padding: 10px 0px 10px 0px;
}

.margin {
    margin-top: 10px;
}

.messages {
    background-color: #ebebeb;
    max-height: 250px;
    overflow-y: scroll;
    
}

.alert-sm {
    width: 20%;
}